body{
    margin: 0;
}
header.nav-fixed{
    padding: 0px;
    border-bottom: none;
    z-index: 9 !important;
    background: rgba(6, 31, 36, 0.9);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: 110px;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
header {
    position: absolute;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 130px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}
.header-info{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-expand-lg{
    flex-wrap: nowrap;
    justify-content: flex-start;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .logo{
    height:35px;
  }
  .logo-name{
    text-decoration: none;
    white-space: nowranavbar-collapsep;
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    position: relative;
    padding-left: 340px;
    /*padding-top: 33px;*/
  }
.collapse{
    padding-right: 450px;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link, .navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #fff;
    opacity: 1;

}
.navbar-expand-lg .navbar-nav .nav-link {
    padding: 6px 10px;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    text-transform: capitalize;
    opacity: .8;
    
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 7px;
    transition: all 0.5s ease;
    position: relative;
    
}
.btn-style {
    padding: 13px 35px !important;
    font-size: 17px !important;
    line-height: 28px !important;
    font-weight: 500 !important;
    transition: 0.3s ease-in !important;
    border-radius: 40px !important;
    border: none !important;
}
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
    padding-top: 20px;
}
.btn-primary {
    color: #fff;
    background-color: green !important
  }
  .banner {
    background-image: url(png/background-img/background5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    opacity: 1.5;
    height: 600px;
    padding-top: 7px !important;
}
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(6 31 36 / 45%);
    z-index: -1;
}
.name{
    color: #fff;
}

.banner h3 {
    font-size: 100px;
    line-height: 100px;
    font-family: 'Dosis', sans-serif;
    font-weight: 700;
    color: transparent;
    background: none;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #fff;
  }
.banner p{
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
}
.transparent-btn {
    color: #fff !important;
    border: 1px solid #dadada !important;
    background: rgba(255, 255, 255, 0.15);
  }
.btn-style {
    padding: 13px 35px;
    font-size: 17px;
    line-height: 28px;
    font-weight: 500;
    transition: 0.3s ease-in;
    border-radius: var(--border-radius-full);
    border: none;
  }
.btn-style:hover{
    background-color: white !important;
    color: black !important;
}


/*About section*/

.title-small {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: inline-block;
    line-height: 28px;
    color: grey;
    position: relative;
    letter-spacing: 1px;
}

.title-main, .title-main.two {
    font-size: 38px;
    line-height: 48px;
    font-weight: 600;
    text-transform: capitalize;
    color:#404044;
    font-family: Lucida Console;
}

.my-4 {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
    font-family: Noto;
}

p {
    margin: 0;
      margin-top: 0px;
      margin-bottom: 0px;
    padding: 0;
      padding-right: 0px;
    font-size: 18px;
    line-height: 28px;
    color: #717171;
}

.my-info{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5px;
    border-top: 1px solid var(--border-color);
    padding-top: 30px;
    margin-top: 30px;
}

ul{
    margin: 0;
      margin-top: 0px;
    padding: 0;
}

ul.follow-social li a {
    font-size: 20px;
}

ul.follow-social li {
    display: inline-block;
    margin-right: 15px;
}

.mt-lg-5 {
    margin-top: 3rem !important;
}
ul {
    margin: 0;
      margin-top: 0px;
    padding: 0;
}
.follow-social{
    padding-left: 0px;
}


/* Service section*/

.about-section {
    background-color:#e8e8e8;
}

.justify-content-center {
    justify-content: center !important;
}

.row{
   padding-left: 60px;
}

.about-single {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
  }
/* colomn sising */
.col-lg-4 {
    flex: 0 0 auto !important;
    width: 33.333% !important;
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.resize{
    height: 284px;
}
.bg-image-1{
    background-image: url(png/background-img/black.jpg) !important;
}
.bg-image-2{
    background-image: url(png/background-img/black2.jpg) !important;
}
.bg-image-3{
    background-image: url(png/background-img/black1.jpg) !important;
}

.about-content h5 a {
    font-weight: 600;
    color: white;
    font-size: 22px;
}
a, a:hover, button, button:hover {
    text-decoration: none !important; 
    transition: .5s all;
    -moz-transition: .5s all;
}
a.btn.btn-border {
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-color);
    text-transform: capitalize;
}

/* Skills*/
col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}

.skills .progress-info {
    margin-bottom: 30px !important;
    text-align: left;
    position: relative;
}
.skills h6.progress-tittle {
    font-size: 17px;
    color: var(--heading-color);
    margin-bottom: 10px;
}
.skills .progress {
    display: flex;
    height: 4px;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #e1e1e1;
    border-radius: 0.25rem;
}
.skills .progress-bar-striped {
    background-image: none;
    background-size: cover;
}
.skills .progress-bar {
    background-color: var(--primary-color);
    transition: width 0.6s ease;
}

.font{
    font-family: Courier New;
}

/*Desinging*/
.skills .info1 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 80%;/**/
}
.skills .progress-bar.gradient-1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}


/*CSS*/
.skills .info2 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;/**/
}
.skills .progress-bar.gradient-2 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/*HTML*/
.skills .info3 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 95%;/**/
}
.skills .progress-bar.gradient-3 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}


/*PYthon*/
.skills .info4 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 70%;/**/
}
.skills .progress-bar.gradient-4 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/*C*/
.skills .info5 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 40%;/**/
}
.skills .progress-bar.gradient-5 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/*Java*/
.skills .info6 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 72%;/**/
}
.skills .progress-bar.gradient-6 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/*Bootstrap*/
.skills .info7 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 30%;/**/
}
.skills .progress-bar.gradient-7 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/*UI/UX*/
.skills .info8 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 97%;/**/
}
.skills .progress-bar.gradient-8 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/*Git*/
.skills .info9 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 82%;/**/
}
.skills .progress-bar.gradient-9 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}

/*C++*/
.skills .info10 h6.progress-tittle {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 42%;/**/
}
.skills .progress-bar.gradient-10 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}






/* Status Section*/


.stats-section {
    position: relative;
    background-color: #e8e8e8;
}
.py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.text-center {
    text-align: center !important;
}

p.counter {
    font-size: 46px;
    font-weight: 700;
    color: var(--heading-color);
    margin: 0px 0 20px 0px;
    display: block;
}
.writes {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: var(--font-color);
}
.stats_info h3 {
    font-size: 18px;
    line-height: 28px;
    color: #aab2b9;
    color: #707070;
    font-weight: 400;
    display: inline-block;
    text-transform: capitalize;
}

.space-bg{
    background-image: url(png/background-img/mountain.jpg);
}



/*Works*/

.justify-content-center {
    justify-content: center !important;
}

.row{
   padding-left: 60px;
}
.title{
    font-family: Courier New;
}

.about-single {
    background: white;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.04);
  }
/* colomn sising */
.col-lg-4 {
    flex: 0 0 auto !important;
    width: 33.333% !important;
    
}
.col-md-6 {
    flex: 0 0 auto;
    width: 50%;
}
.box-1{
    height: 284px;
}
.box-2{
    height: 284px;
}
.box-3{
    height: 284px;
}
.project-img-1{
    background-image: url(png/Projects/html-calculator.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

.project-img-2{
    background-image: url(png/Projects/clock.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.project-img-3{
    background-image: url(png/Projects/python-calculator.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;

}
.project-img-4{
    background-image: url(png/Projects/fb-page.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 97%;

}
.project-img-5{
    background-image: url(png/Projects/html-website.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 97%;

}
.align{
    padding-top: 2%;
    padding-left: 5%;
    width: 152%;
}

.move{
    padding-left: 10%;
}
.project-section-bg{
    background-color:#e8e8e8;
}

.about-content h5 a {
    font-weight: 600;
    color: white;
    font-size: 22px;
}
a, a:hover, button, button:hover {
    text-decoration: none !important; 
    transition: .5s all;
    -moz-transition: .5s all;
}
a.btn.btn-border {
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-color);
    text-transform: capitalize;
}


.style-3{
    font-size: 18px;
    color: #ffffff;
    font-family: math;
}
.adj{
    padding-top: 10px;
}
/* Footer */
.name-logo{
    text-decoration: none;
    white-space: nowranavbar-collapsep;
    margin: 0;
    padding: 0;
    font-size: 32px;
    color: #fff;
    font-weight: 600;
    position: relative;
    padding-top: 33px;
}
.look{
    padding: 0px;
    border-bottom: none;
    z-index: 9 !important;
    background: rgba(6, 31, 36, 0.9);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.05);
    height: 240px;
}
.contact-text-sub {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 28px;
    color: #aaa;
}
.position-icon1{
    position: relative;
    left: -3px;
    top: -1px;
}
.position-icon2{
    position: relative;
    left: -1px;
    top: -3px;
}
.position-icon3{
    position: relative;
    left: -1px;
    top: -4px;
}
.col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
}
.social {
    position: absolute;
    top: -23px;
    left: 85%;
    transform: translateX(-50%);
}
.footer-grids {
    position: relative;
}
.container1{
    background-color: #001c15fc;
}
.writings{
    color: #c7c7c7;
}
    
    /*Scroll top button*/
#movetop {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    right: 2px;
    z-index: 9999;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#movetop img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}
#movetop.show {
    opacity: 1;
}
    
    

/*ABOUT SECTION*/
.title-breadcrumb {
    font-size: 48px;
    line-height: 58px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
.breadcrumbs-custom-path {
    padding-top: 10px;
    text-align: center;
}
.breadcrumbs-custom-path a, .breadcrumbs-custom-path a:active, .breadcrumbs-custom-path a:focus {
    color: #fff;
    opacity: .8;
}
.breadcrumbs-custom-path li {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: capitalize;
    color: #eee;
}
.about-banner {
    background-image: url(png/background-img/background5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 0;
    opacity: 1.5;
    height: 380px;
    padding-top: 7px !important;
}
.about-banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(6 31 36 / 45%);
    z-index: -1;
}
.join{
    background-image: url(png/background-img/mountain.jpg);
}

.transparent-btn1 {
    color: #23762e !important;
    border: 1px solid #12910a !important;
    background: rgba(255, 255, 255, 0.15);
}